/* style.css */

h1 {
    color: red;
}

h2 {
    font-family: Arial;
    color: brown;
}

.error-message {
    color: red;
    }

.delete_account {
    position: absolute;
    top: 10px;
    right: 10px;
}