<!-- tasks -->
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Мої завдання</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

     <div class="delete_account">
         <form action="{{ url_for('delete_account') }}" method="POST"
               onsubmit="return confirm('Вм впевнені, що хочете видалити акаунт?')">
             <button type="submit" style="color: red;">Видалити акаунт</button>
         </form>
     </div>

    <div style="display: flex; align-items: center; gap:20px;" method="POST">
        <h1 style="margin: 0;">Список завдань {{ username }}</h1>
        <a href="{{ url_for('add_task') }}">Додати завдання</a>
        <form method="GET" action="{{ url_for('tasks') }}" style="display:inline">
            <label for="status">Фільтр по статусу</label>
            <select name="status" id="status" onchange="this.form.submit()">
                <option value="">Всі</option>
                <option value="done" {% if status =='done' %}selected{% endif %}>Виконані</option>
                <option value="not_done" {% if status =='not_done' %}selected{% endif %}>Невиконані</option>
            </select>
            <label for="priority">Пріорітет:</label>
            <select name="priority" id="priority" onchange="this.form.submit()">
                <option value="">Всі</option>
                {% for key, value in priority_map.items() %}
                <option value="{{ key }}" {% if priority == key|string %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <ol style="margin-top:20px;">
        {% for task in todo_list %}
            <li>
                <p><strong>Опис: </strong>{{ task[2] }}</p>
                <p>Створено: {{ task[3] }}</p>
                <p>Виконати до: {{ task[4] }}</p>
                <p>Пріоритет: {{ priority_map[task[5]] }}</p>
                <form method="POST">
                    <input type="hidden" name="task_id" value="{{ task[0] }}">
                    <input type="checkbox" name="done" onchange="this.form.submit()"
                        {% if task[6] %}checked{% endif %}>
                    {% if task[6] %}
                        <span style="color:lightgreen;">Задача виконана</span>
                    {% else %}
                        <span style="color:yellow;">Задача не виконана</span>
                    {% endif %}
                </form><br>
                <a href="{{ url_for('edit_task', task_id=task[0]) }}" style="color:green; margin-right:60px;">Редагувати</a>
                <a href="{{ url_for('delete_task', task_id=task[0]) }}" style="color: red">Видалити</a>
            </li><br>
        {% endfor %}
    </ol>
</body>
</html>